@import "../../../styles/variables.scss";

.contact_us {
  background: #ffffff;
  border: 1px solid #dbdbdb;
  border-radius: 30px;
  padding: 30px;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  font-weight: 700;
  font-size: 30px;
  font-family: var(--font-rubik);
  line-height: 32px;
  padding-bottom: 10px;
  color: #000000;
}

.item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 13px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  font-family: var(--font-rubik);

  color: #000000;
}

.description_hours {
  display: flex;
  gap: 5px;
  align-items: center;
}

.time {
  display: flex;
  flex-direction: column;
}

.hour {
  display: flex;
  align-items: center;
}

@media screen and (max-width: $smTableWidth) {
  .map_frame {
    height: 100%;
    border-radius: 0% !important;
  }

  .contact_us {
    position: inherit;
  }
}
