@import "../../../styles/variables.scss";

.choose {
  background: #fafafa;
  margin-bottom: 100px;
}

.title {
  padding-bottom: 10px;
}

.choose_inner {
  max-width: 1170px;
  margin: 0 auto;
  padding: 100px 0;
}

.description {
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  padding-bottom: 50px;
  font-family: var(--font-rubik);
  color: #1a1a1a;
}

.choose_items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 23px;
}

@media screen and (max-width: $tableWidth) {
  .choose_items {
    grid-template-columns: auto;
  }
}

@media screen and (max-width: $phoneWidth) {
  .choose {
    margin-bottom: 50px;
  }
}
