@import "../../../styles/variables.scss";

.description {
  padding: 100px 50px;
  margin-bottom: 85px;

  display: flex;
  flex-direction: column;
  gap: 35px;
}

.content {
  padding-top: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  letter-spacing: -0.2px;
  color: #ffffff;
}

.blue {
  background: #5ab1ff;
  border-radius: 30px;
  font-family: var(--font-rubik);
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
}

@media screen and (max-width: $tableWidth) {
  .description {
    padding: 50px 25px;
    margin-bottom: 35px;
  }

  .content {
    font-size: 18px;
  }
}
