.item {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: var(--font-rubik);
  color: #000000;
}

.description {
  font-size: 28px;
  font-weight: 400;
  line-height: 33px;
}

.block {
  display: flex;
  gap: 5px;
  align-items: center;
}

.left_phone {
  font-size: 21px;
  line-height: 26px;
}

.right_phone {
  font-size: 28px;
  line-height: 26px;
}

.time,
.hours {
  font-size: 28px;
  font-weight: 400;
  line-height: 33px;
}

.info {
  display: flex;
  align-items: center;
  margin-bottom: 100px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 37px;
  width: 50%;
}

.iframe {
  width: 50%;
}
