.image_inner {
  background: #5ab1ff;
  padding: 51px;
  border-radius: 50%;
  position: relative;

  &::after {
    content: "";
    background-image: url("/svg/arrow-right.svg");
    width: 50px;
    height: 41px;
    position: absolute;
    right: -50%;
  }

  &:last-child {
    width: 0;
    height: 0;
  }
}

.item {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;

  font-weight: 500;
  font-size: 25px;
  line-height: 34px;

  font-family: var(--font-rubik);
  text-align: center;

  color: #000000;
}

.items {
  display: flex;
  align-items: center;
  gap: 150px;
}
