@import "../../../styles/variables.scss";

.map {
  max-width: 1170px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.iframe {
}

.contact {
  position: relative;
}

@media screen and (max-width: $smDesktopWidth) {
  .map {
    display: flex;
    flex-direction: column;
    gap: 50px;

    iframe {
      border-radius: 0 !important;
    }
  }
}
