@import "../../../../styles/variables.scss";

.visit_item {
  display: flex;
  flex-direction: column;

  background: #fafafa;
  border: 1px solid #e9e9e9;
  border-radius: 30px;
  align-items: center;
  min-width: 375px;
  padding: 57px 0 63px 0;
}

.border {
  background: #0d39b9;
  width: 50px;
  height: 2px;
  margin-top: 30px;
  display: block;
}

.title {
  font-weight: 700;
  font-size: 30px;
  line-height: 20px;
  font-family: var(--font-rubik);
  padding-top: 37px;

  text-align: center;

  color: #000000;
}

.description {
  font-family: var(--font-rubik);
  font-weight: 600;
  padding: 43px 39px 0 39px;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

@media screen and (max-width: $smDesktopWidth) {
  .visit_item {
    margin: 10px 5px;
  }
}
