@import "../../../styles/variables.scss";

.banner {
  width: 100%;
  position: relative;
  margin-bottom: 100px;
}

.banner_page {
  width: 100%;
  position: relative;
  margin-bottom: 10px;
}

.home {
  display: flex;
  max-width: 1170px;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 50%;
  text-align: right;
  right: 0;

  transform: translate(-50%, -50%);
}

.home_title {
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  text-align: right;
  white-space: nowrap;
  color: #ffffff;
}

.image {
  object-fit: cover;
}

.title {
}

.page {
  display: flex;
  max-width: 1170px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 auto;

  transform: translate(-50%, -50%);
}

.home_description {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  font-family: var(--font-rubik);
  text-align: right;

  color: #ffffff;
}

.description {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  font-family: var(--font-rubik);
  text-align: center;

  color: #ffffff;
}

.buttons_page {
  position: absolute;
  right: -5%;

  bottom: 25%;
  z-index: 10;

  transform: translate(-100%, 0%);
  a + a {
    margin-left: 10px;
  }
}

.buttons {
  position: absolute;
  left: 50%;
  bottom: 25%;
  margin: 0 auto;
  z-index: 10;

  transform: translate(-50%, 0%);
  a + a {
    margin-left: 10px;
  }
}

@media screen and (max-width: $tableWidth) {
  .banner {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: $desktopWidth) {
  .buttons,
  .buttons_page {
    bottom: 20%;
  }
}

@media screen and (max-width: $smDesktopWidth) {
  .buttons,
  .buttons_page {
    display: flex;
    align-items: center;
    justify-content: center;

    bottom: 30%;
    button {
      font-size: 14px;
      padding: 11px 20px;
      width: 100%;
    }
  }

  .title {
    font-size: 30px;
  }

  .page {
    top: 45%;
  }

  .home {
    left: 50%;
    right: -50%;
  }
}

@media screen and (max-width: $smTableWidth) {
  .home_title {
    font-size: 30px !important;
  }

  .home_description {
    text-align: center;
  }

  .title {
    white-space: pre-wrap;
  }

  .page {
    top: 50%;
  }

  .home {
    left: 50%;
    right: -50%;
  }

  .description {
    text-align: center;
  }

  .buttons {
    position: fixed;
    bottom: 0%;
    left: 50%;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 0;

    transform: translate(-50%, 0%);

    a {
      width: 50%;
    }

    button {
      width: 100%;
      border-radius: 0;
      font-size: 12px;
      padding: 11px 18px;
    }

    a + a {
      margin-left: 0;
    }
  }
}
